In [5]:
import pandas as pd

In [6]:
# data structure : dataFrame(matrix)and series(1d array)
dataSet = [10,20,30,40,50,60,70,80,90,100]
ind = ["A","B" ,"C","D","E","F","G","H","I","J"]
series = pd.Series(dataSet , name = "Monthly data")  # 1d array
print(series)

A     10
B     20
C     30
D     40
E     50
F     60
G     70
H     80
I     90
J    100
Name: Monthly data, dtype: int64

In [44]:
dataFrame = {"Name" : ["Himanshu","Kalim", "Yash","Ankit","Shilpa"],
              "Age" : [19,20,21,22,23],
            "Course" :["DANLC" ,"DANLC" ,"JAVA","DANLC","JAVA"]
            }
ind = [1,2,3,4,5]
df = pd.DataFrame(dataFrame , index = ind )

#to update/add a column
df["City"] = ["Mum","Pune","Thane","NM","Vapi"]

#adding multiple columns in a table
newColumns = {
                 "Grade" : ["A","B","A","C","B"],
                 "Div" : ["B","C","B","D","A"],
                 "height" : [177.7,180.9,180.30,165.5,188.4]
}


df["Grade"] = newColumns["Grade"]
df["Div"]= newColumns["Div"]
df["height"]= newColumns["height"]


#adding columns in between
gender = ["Male","Male","Male","Male","Female"]
df.insert(2,"Gender",gender)


#rows manipulation
new_data  = pd.DataFrame([
     {"Name" :"Sapna", "Age":20,"Gender": "Female","City":"Mumbai","Grade":"A","height":178.8},
     {"Name" :"Aishwarya", "Age":20,"Gender": "Female","City":"Mumbai","Grade":"A","height":180},
     {"Name" :"Kavita", "Age":22,"Gender": "Female","City":"Pune","Grade":"A","height":178.8},
      {"Name" :"Snehal", "Age":20,"Gender": "Female","City":"Jodhpur","Grade":"A","height":178.8},
     {"Name" :"Anushka", "Age":20,"Gender": "Female","City":"Delhi","Grade":"A","height":178.8}    
])

df = pd.concat([df,new_data], ignore_index = True)


#adding new row at specific index
new_row  = {"Name" :"Suryakant", "Age":22,"Gender": "Male","City":"Pune","Grade":"A","height":178.8}
df.loc[3.5] =new_row
df = df.sort_index().reset_index(drop =True)


#changing column name
df = df.rename(columns = {"City" : "Address", "Name" :"Student Name","Course" :"Pursuing Course","height" :"Height(cm)"})




#String method manipulation - on column

#check column names
print(df.columns)



#print("Column names in upper case")
print(df.columns.str.upper())

print("Column names in lower case")
df.columns.str.lower()

# first char capital
print(df.columns.str.title())  # java - Java


#replace
print(df.columns.str.replace(' ','_'))


# to remove leading/trailing spaces from column name
df.columns.str.strip()

#padding on columns
# df.columns = df.columns.str.pad(width = 12 , side ='left')


#padding 0's
# df.columns = df.columns.str.zfill(10)


#to get character of column of specific index
#print(df.columns.str.get(0))


#to change specific value of a row
df.loc[10,["Address"]] = ["Gujarat"]

#updating /add new col based on condition
df.loc[df["Grade"] =="A" , 'Remarks'] = 'Passed'
df.loc[df["Grade"] =="B" , 'Remarks'] = 'Distinction'
df.loc[df["Grade"] =="C" , 'Remarks'] = 'Failed'


#delete a row
df = df.loc[df["Student Name"] != "Anushka" ]


# delete a column
df = df.drop("Height(cm)" , axis=1)


print(df)

Index(['Student Name', 'Age', 'Gender', 'Pursuing Course', 'Address', 'Grade',
       'Div', 'Height(cm)'],
      dtype='object')
Index(['STUDENT NAME', 'AGE', 'GENDER', 'PURSUING COURSE', 'ADDRESS', 'GRADE',
       'DIV', 'HEIGHT(CM)'],
      dtype='object')
Column names in lower case
Index(['Student Name', 'Age', 'Gender', 'Pursuing Course', 'Address', 'Grade',
       'Div', 'Height(Cm)'],
      dtype='object')
Index(['Student_Name', 'Age', 'Gender', 'Pursuing_Course', 'Address', 'Grade',
       'Div', 'Height(cm)'],
      dtype='object')
  Student Name  Age  Gender Pursuing Course  Address Grade  Div      Remarks
0     Himanshu   19    Male           DANLC      Mum     A    B       Passed
1        Kalim   20    Male           DANLC     Pune     B    C  Distinction
2         Yash   21    Male            JAVA    Thane     A    B       Passed
3        Ankit   22    Male           DANLC       NM     C    D       Failed
4    Suryakant   22    Male             NaN     Pune     A  NaN       Passed
5       Shilpa   23  Female            JAVA     Vapi     B    A  Distinction
6        Sapna   20  Female             NaN   Mumbai     A  NaN       Passed
7    Aishwarya   20  Female             NaN   Mumbai     A  NaN       Passed
8       Kavita   22  Female             NaN     Pune     A  NaN       Passed
9       Snehal   20  Female             NaN  Jodhpur     A  NaN       Passed